<div class="master-component">
  <div>
    <canvas #canvas width="400" height="300"></canvas>
    <video #video autoplay playsinline></video>
  </div>
  <ng-template #img>
    <img class="img" [src]="lastFrame" alt="Last frame">
  </ng-template>

  <div class="buttons-container">
    <div class="{{ isRegistering ? 'visible' : 'hidden' }} register-text-container" [style.zIndex]="zIndexRegistering">
      <input class="register-text" type="text" placeholder="Ingrese el nombre de usuario para registrar" [(ngModel)]="value">
    </div>
    <div class="register-ok-container" [style.zIndex]="zIndexRegistering">
      <button class="{{ isRegistering ? 'visible' : 'hidden' }} register-ok-button" (click)="registerNewUserOk(value)">
        Registrar
      </button>
    </div>

    <div class="login-container">
      <button class="{{ isAdmin || isRegistering ? 'hidden' : 'visible' }} login-button" (click)="sendImgLogin()">
        Iniciar sesión
      </button>
    </div>

   
    <div class="download-container" [style.zIndex]="zIndexAdmin">
      <button class="{{ isAdmin ? 'visible' : 'hidden' }} download-button" (click)="downloadLogs()">
        Descargar logs
      </button>
    </div>
  </div>
</div>
